@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

header {
	margin-top: 0;
	border-bottom-style: dashed;
	width: 100;
	color: lightgray;
}
button {
	color: black;
}
body {
	margin-top: 0;
	margin-left: 10%;
	margin-right: 10%;
	background-image: "img/corkboard.jpg";
}

.website-links {
	width: 50%;
	height: 100%;
}